/* Header related styles */ 

body {
	background: white url(../images/top_gradient.png) top left repeat-x; /* TODO: Backgrounds on one larger image... */
	position: relative;
}

#header {
	width: 960px;
	margin: 0 auto 5px auto;
	padding: 20px 0 0 0;
	overflow: hidden;
	font-size: 0.786em;
	line-height: 47px;
	font-weight: bold;
}
    #header form {
    	display: inline;
    }
    #footer fieldset, #header fieldset {
        display: inline;
        line-height: 1em;
        vertical-align: middle;
    }
	#header #searchSet {
		display: inline;
	}
#skypeLogo {
	float: left;
	width: 35%;
	overflow: auto;
	text-decoration: none;
}
	#skypeLogo img {
		margin: 0 15px 0 20px;
		display: block;
		float: left;
		display: inline;
	}
	#skypeLogo span {
		display: block;
		float: left;
		color: #7FD7F7;
	}
#headerNavigation {
	float: right;
	width: 65%;
	text-align: right;
	color: #AFB4B4;
}
	#headerNavigation a {
		margin: 0 4px;
		color: #00AFF0;
		text-decoration: none;
	}
	#headerNavigation a:hover {
	    text-decoration: underline;
	}
	#headerNavigation input {
		margin: 0 20px 0 6px;
	}
    #headerNavigation span {
        margin: 0 4px;
        color: #636363;
    }

/* Footer related styles */

#footer {
	height: 75px;
	background: white url(../images/bottom_gradient.png) top left repeat-x;
	padding: 14px;
	clear: both;
	color: #AFB4B4;
	font-size: 0.786em;
	margin: 60px 0 0 0;
}
	#footer a {
		color: #636363;
		text-decoration: none;
		margin: 0 4px;
	}
	#footer a:hover {
		color: #444444;
		text-decoration: underline;
	}
	#footer strong {	
		color: #7FD7F7;
		margin: 0 4px;
	}
#userPreferencesForm {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}
#footerNavigation {
	float: left;
	padding: 0 0 0 20px;
	line-height: 26px !important;
}
    #footerNavigation select {
        margin: 0 10px 0 5px;
    }
    #footerNavigation .flag {
        margin-top: 5px;
    }
	#userLanguage {
		width:185px;
	}
#legalLinks {
	float: right;
	text-align: right;
	padding: 0 20px 0 0;
	line-height: 26px !important;	
}
	#legalLinks span {
		margin: 0 0 0 4px;
	}


/* Navigation related styles */

#mainNavigation {
	background: white url(../images/navigation_blue.png) bottom left repeat-x;
	border-bottom: 1px solid #7FD7F7;
	min-height: 31px;
}
* html #mainNavigation {
	height: 31px;
}
	#mainNavigation ul, #subNavigation ul {
		width: 860px;
		margin: 0 auto;
		padding: 0 0 0 100px;
		overflow: hidden;
		font-family: Helvetica, Arial, sans-serif;
	}
	#mainNavigation li {
		float: left;
		margin: 0 -20px 0 30px;
		font-size: 1.143em;
		font-weight: bold;
		min-height: 24px;
		padding-left: 2px;
		display: inline;
	}
	* html #mainNavigation li {
		height: 25px;
	}
		#mainNavigation li a, #mainNavigation li strong {
			text-decoration: none;
			color: #636363;
			display: block;
			padding: 8px 10px 4px 8px;
			min-height: 20px;
		}
		#mainNavigation li.active a {
		    padding: 0;
		}
		#mainNavigation li.active, #mainNavigation li.active a, #mainNavigation li.active strong {
			color: white;
			background: #7FD7F7;
		}
		#mainNavigation li.active, #mainNavigation li.hover {
			background: #7FD7F7 url(../images/navi_top_left.png) top left no-repeat;
		}
		#mainNavigation li.active strong, #mainNavigation li.hover a {
			background: #7FD7F7 url(../images/navi_top_right.png) top right no-repeat;
		}
		#mainNavigation li.hover a {
		    color: white;
		}
#subNavigation {
	position: relative;
	z-index: 9999;
}
	#subNavigation ul {
	    font-size: 0.929em;
	}
	#subNavigation li {
		float: left;
		margin: 0 -25px 0 25px;
		font-size: 1em;
		background: url(../images/subnavi_back.png);
		padding: 7px 15px 5px 15px;
		display: inline;
		white-space: nowrap;
	}
		#subNavigation li a {
			color: #636363;
			text-decoration: none;
			font-weight: normal;
		}
		#subNavigation li a:hover {
			color: #444444;
			text-decoration: underline;
		}
		#subNavigation li.active a:hover {
			text-decoration: none;
		}
		#subNavigation li strong {	
			color: #7FD7F7;
		}

/* TODO: Conditions go somewhere else? */

.cond-default {
    display: block;
}
.cond-existing, .cond-30days {
    display: none;
}
.chevron {
	background: url(../images/chevron.png) repeat-x center right;
	margin: 2px -14px 0 0 !important;
	padding: 0 !important;
	height: 16px;
	display: inline;
}
	.chevron li {
		float: left;
		list-style: none;
		font-weight: bold;
		color: #939393;
		background: #fff;
		margin: 0 0 0 22px;
		padding: 0 4px 0 26px !important;
		display: inline;
	}
	.chevron li.current {
		color: #000;
	}
	.chevron li.first {
		margin-left: 0;
	}
	.chevron li.step1,
	.chevron li.step2,
	.chevron li.step3,
	.chevron li.step4,
	.chevron li.step5,
	.chevron li.step6,
	.chevron li.step7,
	.chevron li.step8,
	.chevron li.step9 {
		padding-left: 26px;
		background: no-repeat;
		background-color: #fff;
		background-position: 4px 0px !important;
	}
	.chevron li.step1 {
		background-image: url(../images/grey_1_small.png);
	}
	.chevron li.step1.current {
		background-image: url(../images/blue_1_small.png);
	}
	.chevron li.step2 {
		background-image: url(../images/grey_2_small.png);
	}
	.chevron li.step2.current {
		background-image: url(../images/blue_2_small.png);
	}
	.chevron li.step3 {
		background-image: url(../images/grey_3_small.png);
	}
	.chevron li.step3.current {
		background-image: url(../images/blue_3_small.png);
	}
.naviSteps {
	font-weight: bold;
}
	.naviSteps span {
		color: #98d112;
		padding: 0 0.25em;
	}
/*
     FILE ARCHIVED ON 15:07:11 Feb 06, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:22:42 Oct 30, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.452
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 6.481
  LoadShardBlock: 44.867 (3)
  PetaboxLoader3.datanode: 57.559 (4)
  load_resource: 71.775
  PetaboxLoader3.resolve: 54.399
*/